<div style="display: flex; flex-direction: column; align-items: center; font-family: sans-serif">
  <h1 style="margin: 10px 0"><%= @secret %></h1>

  <div id="data" style="font-size: 1.1rem; width: 600px; max-width: 100%"></div>

  <%= form_tag('/m_admin', method: :post, style: 'all: inherit; width: 100%') do %>
    <%= hidden_field_tag :secret, @secret %>
    <%= text_area_tag :reply, nil, rows: 8, style: 'width: 100%; display: block; max-width: 600px; padding: 10px; font-family: inherit; font-size: 1.1rem; resize: vertical;' %>
    <%= submit_tag 'Submit', style: 'margin: 10px 0; padding: 10px; font-size: 1.2rem' %>
  <% end %>
</div>

<script>
  const pathParts = window.location.pathname.split('/');
  const secretFromURL = pathParts[pathParts.length - 1];

  let secret = secretFromURL;

  async function fetchDataAndUpdateDOM() {
    try {
      const response = await fetch(`/m_data?secret=${secret}`);
      if (!response.ok) throw new Error('Network response was not ok');

      const data = await response.json();

      const dataDiv = document.getElementById('data');
      
      // Clear existing content
      while (dataDiv.firstChild) {
        dataDiv.removeChild(dataDiv.firstChild);
      }

      if (data.outcome === 'success') {
        let currentConvo = null;
        
        for (let i = 0; i < data.data.convos.length; i++) {
          // Check if the convo start_time is within the last hour or if not seen
          const convoStartTime = Date.parse(data.data.convos[i].start_time.replace(" ", "T"));
          
          if (convoStartTime > Date.now() - 3600000 || data.data.convos[i].seen === false) {
            currentConvo = data.data.convos[i].messages;
            break;
          }
        }

        if (currentConvo !== null) {
          currentConvo.forEach(item => {
            const itemElement = document.createElement('p');
            itemElement.textContent = item.message;
            if (item.direction === "to") {
              itemElement.style.color = 'grey';
            }
            dataDiv.appendChild(itemElement);
          });
        } else {
          const itemElement = document.createElement('p');
          itemElement.textContent = 'No messages in the last hour';
          dataDiv.appendChild(itemElement);
        }
      } else {
        const itemElement = document.createElement('p');
        itemElement.textContent = "That's not a secret code.";
        itemElement.style.color = 'red';
        dataDiv.appendChild(itemElement);
      }
    } catch (error) {
      console.error('Error fetching data:', error);
      const itemElement = document.createElement('p');
      itemElement.textContent = "Sorry, something went wrong. Please try again.";
      itemElement.style.color = 'red';
      dataDiv.appendChild(itemElement);
    }
  }

  setInterval(fetchDataAndUpdateDOM, 2000);

  fetchDataAndUpdateDOM();
</script>
